html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    margin: 0;
    background-color: #0071bc;
    overflow: auto;
}


/*--------------------------------------      Navigation box      ---------------------------------------------------------------------*/

header {
    background-color: #0071bc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-size: 25px;
    border: 2px solid white;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

/* Nav hover effect */
nav a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/*-------------------------------------  Container box  --------------------------------------------------------------------*/
.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-top: 50px;
    background-color: #0071bc;
}


/*-------------------------------------    Tony Box     --------------------------------------------------------------------*/
.Tony {
    display: flex;
    padding: 0;

}

.Tony p {
    color: white;
    position: absolute;
    margin-top: 350px;
    margin-left: 100px;
    font-size: 80px;
}

.Tony img {
    max-width: 700px;
    height: auto;
    margin-left: auto;
    margin-bottom: 0;

}




/*-------------------------------------    grid content    --------------------------------------------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding-top: 40px;
    font-size: 25px;

}

.grid-container img:hover {
    scale: 1.3;
    transition: 1s;
}

.column {
    margin: auto;
}


/*Columns images by id*/
#helppy {
    width: 226.77px;

}

#coronaria {
    width: 340.16px;

}

#relahierojat {
    width: 226.77px;
}

#pt {

    width: 340.16px;

}

#vsp {
    width: 340.16px;

}

#verkkokauppa {
    width: 340.16px;
}



/*-------------------------------------    Avoin hakemus    --------------------------------------------------------------------*/

.avoin-hakemus p {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}




/*-------------------------------------    Grid-container 2  --------------------------------------------------------------------*/
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
}

.grid-container2 img {
    width: 100%;
    height: auto;
}


/*-------------------------------------    footer-container content  ------------------------------------------------------------*/

.footer-container {
 
    background-color: #0071bc;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    color: white;
    text-align: left;
}

footer {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

footer p {

    z-index: 1;
    font-size: 20px;
    /* lisätty alempien elementtien päälle */
    margin-left: 20px;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;

}

#yhteystiedot {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: underline;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}

.footer-container a:hover {
    color: red;
}








/*------------------------------------ @media screen 1200px ------------------------------------------------------------------------------*/


@media (max-width: 1200px) {


    /*------------------------------------ Tony Box ------------------------------------------------------------------------------------------*/

    .Tony p {
        color: white;
        position: absolute;
        margin-top: 450px;
        margin-left: 100px;
        font-size: 50px;
    }

    /*------------------------------------ Grid-Container content ---------------------------------------------------------------------------*/

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        padding-top: 40px;
        font-size: 25px;
    }

    .grid-container img {
        padding-top: 40px
    }

    .grid-container img:hover {
        scale: 1.1;
        transition: 0.5s;
    }

    /*------------------------------------ Grid-Container2 content ---------------------------------------------------------------------------*/
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-container2 img {
        width: 100%;
        height: auto;
    }

}








/*------------------------------------      @media screen 1000px   ---------------------------------------------------------------------------*/
@media (max-width: 1000px) {
    .Tony p {
        color: white;
        position: absolute;
        margin-top: 450px;
        margin-left: 10px;
        font-size: 45px;
    }

    .Tony img {
        width: 100%;
        height: auto;
    }
}






/*------------------------------------      @media screen 428px   ---------------------------------------------------------------------------*/
@media (max-width: 428px) {
    nav a {
        font-size: 18px;
    }




    /*------------------------------------      @media screen 414px   ---------------------------------------------------------------------------*/
    @media (max-width: 414px) {

        nav a {
            font-size: 18px;
        }

        /*-------------------------------------    Tony Box     --------------------------------------------------------------------*/
        .Tony {
            margin-top: 180px;
        }

        nav a {
            font-size: 16px;
        }

        .Tony p {
            color: white;
            text-align: center;
            margin-top: -170px;
            margin-left: 15px;
            font-size: 35px;
            z-index: 993;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            background-color: white;
            padding-top: 40px;
            font-size: 25px;
            grid-gap: 50px;
        }

    }









    /*------------------------------------      @media screen 375px   ---------------------------------------------------------------------------*/

    @media (max-width: 375px) {

        nav a {
            font-size: 15px;
        }


        /*-------------------------------------    Tony Box     --------------------------------------------------------------------*/
        .Tony {
            margin-top: 9px;
        }

        .Tony p {
            display: flex;
            color: white;
            text-align: center;
            margin-top: 400px;
            font-size: 35px;
            z-index: 993;
        }

        .Tony img {
            width: 100%;
            height: auto;
            z-index: 99;
        }


        /*------------------------------------ Grid-Container content ---------------------------------------------------------------------------*/

        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            background-color: white;
            padding-top: 40px;
            font-size: 25px;
            grid-gap: 50px;
        }

        .grid-container img {
            padding-top: 40px
        }

        .grid-container img:hover {
            scale: 1.1;
            transition: 0.5s;
        }

        /*------------------------------------ Grid-Container2 content ---------------------------------------------------------------------------*/
        .grid-container2 {
            display: grid;
            grid-template-columns: 1fr;
        }

        .grid-container2 img {
            width: 100%;
            height: auto;
        }

    }
}